.LandingPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFF3;
}

.InnerLandingPage {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: #030301;
}

.LandingPageTitle {
    font-size: 64px;
    font-weight: 900;
    padding-bottom: 10px;
    color: #B7AD99;
}

.LandingPageTitle span {
    color: #00D9C0;
}

.LandingPageInfo {
    font-size: 48px;
    font-weight: 300;
}

.LandingPageTitle, .LandingPageInfo {
    font-family: 'Roboto';
    width: 70%;
    overflow-wrap: break-word;
    word-break: break-word;
}

@media only screen and (max-width: 700px) {
    .LandingPageTitle {
        font-size: 48px;
        padding-bottom: 5px;
    }
    
    .LandingPageInfo {
        font-size: 28px;
    }

    .LandingPageTitle, .LandingPageInfo {
        width: 100%;
    }
}